<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configure Your New Node</title>
</head>
<body>
    <h1>Setup your Node</h1>
    <form action="/start_node">
        Name: <input type="text" name="name">
        <br>
        <br>
        Network: <br>
        <input type="radio" name="network" value="mainnet"> Mainnet <br>
        <input type="radio" name="network" value="carthagenet"> Carthagenet <br>
        <br>
        <br>
        History Mode: <a href="https://tezos.gitlab.io/user/history_modes.html">(?)</a><br>
        <input type="radio" name="mode" value="full"> Full Mode (default) <br>
        <input type="radio" name="mode" value="experimental-rolling"> Rolling Mode <br>
        <input type="radio" name="mode" value="archive"> Archive Mode <br>
        <i>Advanced Settings Coming Soon...</i>
        <br>
        <br>
        <button type="submit">Submit</button>
        <br>
    </form>
</body>
</html>